
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MatrioshTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <button (click)="Ev_Traducir()" type="button" class="btn btn-outline-dark">Traducir</button>
    <button (click)="Ev_Ejecutar()" type="button" class="btn btn-outline-dark">Ejecutar</button>
  </nav>
  <div class="container">
    <section class="main row">
        <div class="col-md-6">
            <h4>Codigo</h4>
            <textarea id="CampoTexto" rows="15" cols="50" wrap="off"></textarea>
          </div>
        <div class="col-md-6">
            <h4>Traduccion</h4>
            <textarea  id="CampoTexto2" rows="15" cols="50" wrap="off" ></textarea>
        </div>
    </section>

</div>

<router-outlet></router-outlet>